*, :before, :after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	width: 100%;
	min-width: 1200px;
	height: 100%;
}

body {    
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.375px;
	color: #000000;

	background-color: #e9ebea;
	
	padding: 0;
	margin: 0;
}

